{% extends 'authenticate/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}

    {% if form.errors %}

		<div class="alert alert-primary" id="myAlert" role="alert">
            There was an error with your form
        </div>

        <script>
          setTimeout(function () {
              $('#myAlert').alert('close');
          }, 2000);
      </script>

    {% endif %}

    <div class="shadow p-4 mb-5 bg-body rounded">
        <center><h3>Register</h3></center>
        <br>
        <form action="{% url 'register_user' %}" method=POST>
            {% csrf_token %}

            {{ form.as_p }}

            <br>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    </div>

{% endblock %}

