{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	
	<div class="form-group">
		<h4>Post Blog</h4>

		<form method="POST">
			{% csrf_token %}
			{{ form.media }}
			{{ form.as_p }}
			<br>
			<button class="btn btn-secondary">Post Blog</button>
		</form>
	</div>
	<br><br>

	<script type="text/javascript">
		var name = "{{ user.id }}";
		document.getElementById('username').value = name;
	</script>

{% else %}
You are not allowed here

{% endif %}

{% endblock %}

