{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<style>
	  .jumbotron-sm {
	    font-size: 14px;
	  }

	  .smaller-heading {
	    font-size: 40px; /* Adjust the size as needed */
	  }

	  .post-meta {
	    font-size: 15px;
	    color: #555;
	  }

	  .lead {
	    font-size: 18px;
		}
	</style>
	<div class="jumbotron jumbotron-sm">
		<h1 class="display-4 smaller-heading"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h1>
	  	<p class="post-meta">Posted on - {{ post.post_date}}</p>
	  	<!--{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
			  	<a class="btn btn-primary btn-sm" href="{% url 'update_post' post.pk %}" role="button">Edit</a>
			    <a class="btn btn-danger btn-sm" href="{% url 'delete_post' post.pk %}" role="button">Delete</a>
			{% endif %}
		{% endif %}-->
	  	
	  	<form action="{% url 'like_post' post.pk %}" method="POST">
			{% csrf_token %}

			{% if user.is_authenticated %}

				{% if liked %}
					<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button> 

				{% else %}
					<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> 

				{% endif %}

			{% else %}
				<small><a href="{% url 'login' %}">Login to like</a></small>

			{% endif %}
					- {{ total_likes }} Likes	
		</form> 

	  	<hr class="my-4">
	  	<p class="lead">{{ post.body|safe }}</p>	
	</div>	

<hr>
<br>

{% endblock %}