{% extends 'base.html' %}

{% block content %}
	{% if category_posts %}
		<h3>{{ cats }}</h3>
		<br>
		{% for post in category_posts %}
			<style>
			  .jumbotron-sm {
			    font-size: 14px;
			  }

			  .smaller-heading {
			    font-size: 40px; /* Adjust the size as needed */
			  }

			  .post-meta {
			    font-size: 15px;
			    color: #555;
			  }
			</style>
			<div class="jumbotron jumbotron-sm">
				<h1 class="display-4 smaller-heading"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h1>
				<p class="post-meta">Posted on - {{ post.post_date}}</p>
			  	<hr class="my-4">
			  	<p class="lead">{{ post.snippet }}</p>	
			  	<!--{% if user.is_authenticated %}
					{% if user.id == post.author.id %}
					  	<a class="btn btn-primary btn-lg" href="{% url 'update_post' post.pk %}" role="button">Edit</a>
					    <a class="btn btn-primary btn-lg" href="{% url 'delete_post' post.pk %}" role="button">Delete</a>
					{% endif %}
				{% endif %}-->
			</div>	
			
		{% endfor %}

	{% else %}

		<h4>Sorry! No any {{ cats }} related posts</h4>

	{% endif %}

{% endblock %}

