{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
	{% if category_posts %}
		<h5>{{ cats }}</h5>
		<br><br>
		{% for post in category_posts %}

			<p><a href="{% url 'show_profile_page' post.author.profile.id %}" class="post-link">
				{% if post.author.profile.profile_pic %}
		      		<img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle" height=30 width=30>
		      	{% else %}
		      		<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="rounded-circle" height=30 width=30>
		      	{% endif %}
		      	{{ post.author.first_name}} {{ post.author.last_name}}</a> | {{ post.post_date}}
		    </p>
			<h5><a href="{% url 'article-detail' post.pk %}" class="post-link">{{ post.title }}</a></h5>
		  	<p>{{ post.snippet }}</p>
		  	<br>	
		  	<hr class="my-2 light">
		  	<br>

			
			
		{% endfor %}

	{% else %}

		<h4>Sorry! No any {{ cats }} related posts</h4>

	{% endif %}

{% endblock %}

