{% extends 'base.html' %}
{% block title %}Delete Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<style>
			.form-group {
	            max-width: 500px;
	            margin: auto;
	            padding: 20px;
	            border: 1px solid #ddd;
	            border-radius: 5px;
	            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	        }

			form {
				width: 100%;
				margin: auto;
				padding: 20px;
			}

			.btn-danger {
				float: right;
	        }
		</style>
		
		<div class="form-group">
			<h5>Confirm Deletion</h5>
			<hr>

			<form method="POST">
				{% csrf_token %}
				<div class="row">
                    <div class="col-6">
                        Are you sure you want to delete {{ post.title }}
                    </div>
                    <div class="col-6 text-right">
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
			</form>
		</div>
		<br><br>

	{% else%}
		You're not allowed here

	{% endif %}

{% else %}
You are not allowed here

{% endif %}

{% endblock %}

