{% extends 'base.html' %}

{% block content %}

	{% for post in object_list %}
	<style>
	  .jumbotron-sm {
	    font-size: 14px;
	    background: white;
	  }

	  .smaller-heading {
	    font-size: 40px; /* Adjust the size as needed */
	  }

	  .post-meta {
	    font-size: 15px;
	    color: #555;
	  }
	</style>
	<div class="jumbotron jumbotron-sm">
		<p class="post-meta">{{ post.author }} . {{ post.post_date}}  {{ post.author.first_name}}</p>
		<h1 class="display-4 smaller-heading"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h1>
	  	<hr class="my-4">
	  	<p class="lead">{{ post.snippet }}</p>	
	</div>	
	{% endfor %}

{% endblock %}



