{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	{% if user.id == post.author.id %}

		<div class="form-group">
			<h4>Edit Blog</h4>
			<form method="POST">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<br>
				<button class="btn btn-secondary">Update</button>
			</form>
		</div>
		<br><br>

	{% else%}
		You're not allowed here

	{% endif %}
	
{% else %}
You are not allowed here

{% endif %}


{% endblock %}

