{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	{% if user.id == post.author.id %}
		<style>
			.form-group {
	            max-width: 800px;
	            margin: auto;
	            padding: 20px;
	            border: 1px solid #ddd;
	            border-radius: 5px;
	            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	        }

			form {
				width: 100%;
				margin: auto;
				padding: 20px;
			}

			.btn-secondary {
	            background-color: #007bff;
	            color: #fff;
	            border: none;
	            padding: 10px 20px;
	            border-radius: 4px;
	            cursor: pointer;
	        }

	        .btn-secondary:hover {
	            background-color: #0056b3;
	        }
		</style>

		<div class="form-group">
			<h4>Edit Blog</h4>
			<form method="POST">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<button class="btn btn-secondary">Update</button>
			</form>
		</div>
		<br><br>

	{% else%}
		You're not allowed here

	{% endif %}
	
{% else %}
You are not allowed here

{% endif %}


{% endblock %}

