{% extends 'base.html' %}
{% load static %}


{% block content %}

	<div class="profile-container">

		<p>
			{% if page_user.profile_pic %}
		  		<img src="{{ page_user.profile_pic.url }}" class="rounded-circle" height=100 width=100>
		  	{% else %}
		  		<img src="{% static 'theblog/images/default_profile_pic.png' %}" class="rounded-circle" height=100 width=100>
		  	{% endif %}
	  	</p>

	  	<p><h5>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5></p>

	  	<p class="small text-muted">
			{% if page_user.website_url %}
				<a href="{{ page_user.website_url }}">Website</a>
			{% endif %}  
			{% if page_user.facebook_url %}
				| <a href="{{ page_user.facebook_url }}">Facebook</a>
			{% endif %} 
			{% if page_user.twitter_url %}
				| <a href="{{ page_user.twitter_url }}">Twitter</a>
			{% endif %} 
			{% if page_user.instagram_url %}
				| <a href="{{ page_user.instagram_url }}">Instagram</a>
			{% endif %} 
			{% if page_user.pinterest_url %}
				| <a href="{{ page_user.pinterest_url }}">Pinterest</a>
			{% endif %}
	    </p>

	    <p>
	    	{% if page_user.bio %}
	    		{{ page_user.bio }}
	    	{% endif %}
	    </p>

    </div>


{% endblock %}



